body {
    background-color: black;
    margin: 8px 0 8px 0;
    color: white;
    text-align: center;
}

#wrapper {
    background-color: transparent;
    margin: auto;
}
#header {
    background-color: black;
    text-align: center;
}
#header_section {
    max-width: 1200px;
    height: 100px;
    margin: 0 auto 0 auto;
    padding: 15px 0 15px 0;
}
#logo {
    float: left;
    background-color: yellow;
    width: 200px;
    height:100%;
    text-align: left;
}
#logo_pict {
    width: 180%;
	content:url(logo_main.jpg);
}
#login_reg {
    background-color: transparent;
    float: right;
    width: 225px;
	padding-top: 25px;
    height:100%;
    text-align: right;
}
	
.btn_log {
	width: 45%;
	float: right;
	background: #94bb5d;
	border-radius: 12px;
	color: white;
	padding: 5px;
	font-size: 18px;
	cursor: pointer;
	margin: 12px 7px 2px 7px;
}
.btn_reg {
	width: 45%;
	float: right;
	background: #ec2001;
	border-radius: 12px;
	color: white;
	padding: 5px;
	font-size: 18px;
	cursor: pointer;
	margin: 12px 2px 2px 2px;
}

#slideshow {
    background-color: none;
}
.slide-section {
	width: 1200px;
	height: 600px;
	background: url(slide1.jpg);
	background-size: cover;
	margin: 0px auto;
	animation-name: slider;
	animation-duration: 10s;
	animation-iteration-count: infinite;
}

@keyframes slider {
	0%{
		background: url(slide1.jpg);
		background-size: cover;
	}
	25%{
		background: url(slide2.jpg);
		background-size: cover;
	}
	50%{
		background: url(slide3.jpg);
		background-size: cover;
	}
	75%{
		background: url(slide4.jpg);
		background-size: cover;
	}	
}


#navigation {
    background-color: white;
}
#navigation_section {
    max-width: 1200px;
    background-color: transparent;
    margin:0 auto 5px auto;
    height: auto;
    padding: 0 40px;

}

#nav_box {
    background-color: transparent;
    padding: 8px 10px 5px 10px;
	margin: auto;
    display:inline-block;    
}

#nav_box ul {
	margin: 0;
	padding: 0;
	text-align: center;
	overflow: hidden;
	background-color: transparent;
	display:inline-block;
	list-style-type: none;
}
#nav_box li {
	margin:0 auto;
	overflow: hidden;
	float:left;
	border: 1px solid #e8e8e8;
	border-style: hidden solid hidden hidden;
}

#nav_box li a {
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	width:100px;
}

#nav_box li a:hover {
	background-color: #111;
	color: #DAA520;
}

#content {
    background-color: black;
}
#content_section {
    margin: 0 auto 0 auto;
    max-width: 1200px;
}

#content_logo_pict {
	margin: 0 auto;
	content:url(logo_main.jpg);
}

#homepage_content_table_movie {
    margin: 0 auto;
    width: 100%;
    padding: 6px;
    text-align: center;
}
#homepage_content_table_movie img {
    width: 90%;
    height: auto;
    padding: 0 10px 0 10px;
}
#homepage_content_table_news {
    margin: 0 auto;
    width: 100%;
    padding: 6px;
    border-collapse: collapse;
}
img#home_movie_pict{
	width: 150px;
}

img#home_ads_wide{
	margin: 10px 0px;
	width: 100%;
	max-width: 700px;
}

img#home_ads{
	margin: 10px 0px;
	width: 100%;
	max-width: 350px;
}

#login_content_section {
    text-align: left;
    color: black;
    margin: 0 auto 0 auto;
    max-width: 1200px;
    background-color:white;
}
#login_content_table {
    width: 60%;
    margin: 0 auto 0 auto;
}
#login_content_fieldset {
    background-color: gray;
}
#moviepage_table_movie {
    margin: 0 auto;
    width: 100%;
    padding: 6px;
    text-align: center;
}
#moviepage_table_movie img {
    display: block;
    max-width:230px;
    max-height:95px;
    width: auto;
    height: auto;
    margin: auto;
}
#movie_description {
    text-align: left;
}
#checkout_content_table {
    width: 100%;
    text-align: left;
}
#checkout_content_td_picture {
    width: 30%;
    text-align: center;
}
#checkout_content_td_picture img {
    width: 80%;
    height: auto;
    position: sticky;
    top: 20px;
}
#checkout_content_td_description {
}
#checkout_content_td_description table {
    text-align:left;
}
#checkout_content_td_timing {
}
#checkout_content_td_timing table {
}
#checkout_content_td_seating {
}
#checkout_content_td_seating table {
    margin: 0 auto;
    width: 100%;
    text-align: center;
}
#checkout_content_td_seating table table {
    margin: 0 auto;
    width: 80%;
}
#checkout_content_td_seating table table td {
    max-width: 10px;
}
.checkout_content_seating_alphabet {
}
.checkout_content_seating_box {
    background-color:blue;
}
.checkout_content_seating_gap {
    background-color: transparent;
}
#checkout_content_td_payment {
}
#checkout_content_td_payment table {
    margin: 0 auto;
    width: 100%;
}
#checkout_content_td_payment table td {
    width: 25%;
    text-align: center;
}
#checkout_content_td_payment table th {
    width: 25%;
    text-align: center;
}
#contact_us {
    border-style: solid;
    border-collapse: collapse;
    width: 90%;
	margin: 0 auto;
}
#contact_us th {
    padding: 5px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-align: left;
}
#footer {
    margin: 60px 0 0 0;
    padding: 20px 0 20px 0;
    background-color: #808080;
}
#footer_section {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background-color: yellow;
}
#footer_content {
    background-color: #003366;
    font-family: Arial, sans-serif;
}
#footer_content a:link {
    color:white;
    text-decoration:none;
    font-weight:bold;
}
#footer_content a:visited {
    text-decoration: none;
    color:Grey;
}
#footer_copyright {
    background-color: #001a33;
    margin: 10px 0px;
}
#footer_table th {
    width: 1200px;
}
#fb_logo {
    height:30px;
    width:30px;
}
#visa_logo {
    height:30px;
    width:45px;
}
#cert_logo {
    height:45px;
    width:90px;
}
