body {
    background-color: black;
    margin: 8px 0 8px 0;
    color: white;
    text-align: center;
}
#wrapper {
    background-color: transparent;
    margin: auto;
}
#header {
    background-color: black;
    text-align: center;
}
#header_section {
    max-width: 1200px;
    height: 100px;
    margin: 0 auto 0 auto;
    padding: 15px 0 15px 0;
}
#logo {
    float: left;
    background-color: yellow;
    width: 200px;
    height:100%;
    text-align: left;
}
#logo_pict {
    height: 80px;
    width: 80px;
}
#login_reg {
    background-color: yellow;
    float: right;
    width: 200px;
    height:100%;
    text-align: right;
}
#slideshow {
    background-color: red;
    height: auto;
}
.slider-holder {
    width: 800px;
    height: 400px;
    background-color: yellow;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    text-align: center;
    overflow: hidden;
}
.image-holder {
    width: 2400px;
    background-color: white;
    height: 400px;
    clear: both;
    position: relative;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
    transition: left 2s;
}
.slider-image {
    float: left;
    margin: 0px;
    padding: 0px;
    position: relative;
}
#slider-image-1:target ~ .image-holder {
    left: 0px;
}
#slider-image-2:target ~ .image-holder {
    left: -800px;
}
#slider-image-3:target ~ .image-holder {
    left: -1600px;
}
.button-holder {
    position: relative;
    top: -20px;
}
.slider-change {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background-color: brown;
}
#navigation {
    background-color: white;
}
#navigation_section {
    max-width: 1200px;
    background-color: blue;
    margin:0 auto 5px auto;
    height: auto;
    text-align: center;
}
#nav_table {
    margin: auto;
}
#nav_box {
    background-color: yellow;
    padding: 8px 10px 5px 10px;
    width: 100px;
}
#nav_box_pict {
    margin: 0 30px 3px 30px;
    height: 50px;
}
#nav_box_text {
    line-height: 0px;
    height:0px;
    font-size: 20px;
    color: black;
}
#content {
    background-color: black;
}
#content_section {
    margin: 0 auto 0 auto;
    max-width: 1200px;
}
#homepage_content_table_movie {
    margin: 0 auto;
    width: 100%;
    padding: 6px;
    text-align: center;
}
#homepage_content_table_movie img {
    width: 90%;
    height: auto;
    padding: 0 10px 0 10px;
}
#homepage_content_table_news {
    margin: 0 auto;
    width: 100%;
    padding: 6px;
    border-collapse: collapse;
}
#login_content_section {
    text-align: left;
    color: black;
    margin: 0 auto 0 auto;
    max-width: 1200px;
    background-color:white;
}
#login_content_table {
    width: 60%;
    margin: 0 auto 0 auto;
}
#login_content_fieldset {
    background-color: gray;
}
#moviepage_table_movie {
    margin: 0 auto;
    width: 100%;
    padding: 6px;
    text-align: center;
}
#moviepage_table_movie img {
    display: block;
    max-width:230px;
    max-height:95px;
    width: auto;
    height: auto;
    margin: auto;
}
#movie_description {
    text-align: left;
}
#checkout_content_table {
    width: 100%;
    text-align: left;
}
#checkout_content_td_picture {
    width: 30%;
    text-align: center;
}
#checkout_content_td_picture img {
    width: 80%;
    height: auto;
    position: sticky;
    top: 20px;
}
#checkout_content_td_description {
}
#checkout_content_td_description table {
    text-align:left;
}
#checkout_content_td_timing {
}
#checkout_content_td_timing table {
}
#checkout_content_td_seating {
}
#checkout_content_td_seating table {
    margin: 0 auto;
    width: 100%;
    text-align: center;
}
#checkout_content_td_seating table table {
    margin: 0 auto;
    width: 80%;
}
#checkout_content_td_seating table table td {
    max-width: 10px;
}
.checkout_content_seating_alphabet {
}
.checkout_content_seating_box {
    background-color:blue;
}
.checkout_content_seating_gap {
    background-color: transparent;
}
#checkout_content_td_payment {
}
#checkout_content_td_payment table {
    margin: 0 auto;
    width: 100%;
}
#checkout_content_td_payment table td {
    width: 25%;
    text-align: center;
}
#checkout_content_td_payment table th {
    width: 25%;
    text-align: center;
}
#contact_us {
    border-style: solid;
    border-collapse: collapse;
    width: 90%;
}
#contact_us th {
    padding: 5px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-align: left;
}
#footer {
    margin: 60px 0 0 0;
    padding: 20px 0 20px 0;
    background-color: #808080;
}
#footer_section {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background-color: yellow;
}
#footer_content {
    background-color: #003366;
    font-family: Arial, sans-serif;
}
#footer_content a:link {
    color:white;
    text-decoration:none;
    font-weight:bold;
}
#footer_content a:visited {
    text-decoration: none;
    color:Grey;
}
#footer_copyright {
    background-color: #001a33;
    margin: 10px 0px;
}
#footer_table th {
    width: 1200px;
}
#fb_logo {
    height:30px;
    width:30px;
}
#visa_logo {
    height:30px;
    width:45px;
}
#cert_logo {
    height:45px;
    width:90px;
}
